<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin"><button>Home</button></a>
    <a href="/admin/createuser"><button>Create User</button></a>
    <button>Order</button>
    <a href="/admin/category"><button>Category</button></a>
    <a href="/admin/productCode"><button>ProductCode</button></a>
    <button>Logout</button>
</body>
</html>