<footer>
  <div class="footer-container">
    <div class="footer-contact">
      <h3>liên hệ với lazada</h3>
      <ul class="footer-contact-list" id="list1">
        <li><a href="" class="footer-contact-link">Trung tâm hỗ trợ</a></li>
        <li>
          <a href="" class="footer-contact-link">Hướng dẫn đặt hàng</a>
        </li>
        <li>
          <a href="" class="footer-contact-link">Giao hàng & Nhận hàng</a>
        </li>
        <li>
          <a href="" class="footer-contact-link"
            >Chính sách nhận hàng nhập khẩu</a
          >
        </li>
        <li>
          <a href="" class="footer-contact-link">Hướng dẫn đổi trả hàng</a>
        </li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3>lazada việt nam</h3>
      <ul class="footer-contact-list">
        <li>
          <a href="" class="footer-contact-link">Về Lazada Việt Nam</a>
        </li>
        <li>
          <a href="" class="footer-contact-link">Bán hàng cùng Lazada</a>
        </li>
        <li>
          <a href="" class="footer-contact-link">Tuyển dụng</a>
        </li>
        <li>
          <a href="" class="footer-contact-link">Điều khoản sử dụng</a>
        </li>
        <li>
          <a href="" class="footer-contact-link">Chính sách bảo mật</a>
        </li>
        <li>
          <a href="" class="footer-contact-link">Báo chí</a>
        </li>
        <li>
          <a href="" class="footer-contact-link">Bảo vệ quyền sở hữu trí tuệ</a>
        </li>
      </ul>
    </div>
    <div class="footer-app">
      <img src="/public/icon/lazada-logo.png" alt="" />
      <div class="footer-app-slogan">
        <p>Go where your heart beats</p>
        <p>Tải App Lazada</p>
      </div>
      <div class="footer-app-mobile">
        <a href="https://bit.ly/lazada-ios-app">
          <img src="/public/icon/app store.png" alt="" />
        </a>
        <a href="https://bit.ly/lazada-android-app">
          <img src="/public/icon/ch play.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</footer>
