* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --page-color: #eff0f5;
  --heading-color: #f7f7f7;
  --font-color: #424242;
  --font-heading-color: #9e9e9e;
  --btn-color: #f57224;
  --hover-btn-color: #d2621e;
  --error-color: #f44336;
  --link-color: #049cb9;
  --font-footer: #0f136d;
  --profile-color: #1a9cb7;
  --profile-hover-color: #16849b;
  --heading-height: 25px;
  --header-height: 75px;
  --header-width: 1100px;
  --search-height: 45px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color);
}
