body {
  background: #f4f4f4;
}
.body-con {
  margin: 30px auto 50px;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.leftcontainer {
  flex: 2;
}
.list-header-man {
  padding: 0 12px;
  background: #ffffff;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.checkbox-wrap {
  position: relative;
}
.checkbox-wrap label {
  margin-left: 36px;
  color: var(--font-heading-color);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.checkbox-wrap input {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
}

.list-header-operations {
  float: right;
  cursor: pointer;
  color: var(--font-heading-color);
  font-size: 14px;
}

.list-header-operations span i {
  padding-right: 6px;
  font-size: 14px;
}

/** Render Cart */
.checkout-item {
  padding: 16px 0;
  background: #ffffff;
  display: flex;
  margin-top: 12px;
}
.cart-item-left {
  display: flex;
  padding-left: 10px;
}
.cart-item-left input {
  width: 16px;
  height: 16px;
  margin: 32px 16px 0 0;
}
.cart-item-left img {
  width: 80px;
  height: 80px;
  margin-right: 12px;
  object-fit: cover;
  object-position: center;
}
.cart-item-left .content {
  width: 328px;
  /* height: 59px; */
  display: flex;
  flex-direction: column;
}

.content-name {
  font-size: 16px;
  color: #212121;
  font-weight: 500;
  line-height: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.color-size {
  margin-top: 6px;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}

.cart-item-middle {
  padding-left: 15px;
  width: 156px;
  height: 80px;
}
.current-price {
  margin-bottom: 4px;
  color: #f57224;
  font-size: 18px;
}
.operations {
  margin-top: 8px;
  color: var(--font-heading-color);
}
.cart-item-right {
  padding-right: 16px;
  font-size: 12px;
  font-weight: 400;
}
.so-luong-sp input {
  width: 42px;
  height: 30px;
  text-align: center;
  border: none;
}
.so-luong-sp input:focus {
  outline: 0;
}

.quantity-product::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.so-luong-sp button {
  width: 32px;
  height: 32px;
  border: none;
  background: #eff0f5;
  font-size: 15px;
  color: var(--font-heading-color);
  transition: linear 0.2s;
}

.so-luong-sp button:hover {
  background: #dadada;
}

.disable:hover {
  background: #eff0f5 !important;
}
.summary-section {
  padding: 16px 12px 0;
}
.address {
  display: none;
}
.location-label {
  margin: 0 0 11px;
  font-size: 14px;
}

.location__body {
  display: flex;
  border-bottom: 1px solid #eff0f5;
}
.location__body span {
  padding-right: 10px;
  width: 24px;
  height: 24px;
}
.location__body span i {
  color: #999;
  background: #fff;
}
.location__body .location-adress {
  padding-right: 15px;
  font-size: 12px;
}
.summary-section-heading {
  margin: 0 0 14px;
  font-size: 18px;
  color: black;
}
.checkout-summary-rows {
  margin: 0 0 8px;
  display: flex;
  justify-content: space-between;
}
.checkout-summary-label {
  font-size: 14px;
  color: #666;
}
.checkout-value {
  font-size: 16px;
}
.checkout-order-total-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.checkout-order-total {
  font-size: 14px;
  color: #666;
}
.checkout-order-value {
  display: flex;
  flex-direction: column;
}
.checkout-order-value span {
  color: var(--btn-color);
  font-size: 16px;
}
.checkout-summary {
  padding-bottom: 16px;
}
.checkout-small {
  text-align: right;
  font-size: 15px;
}
.order-group {
  margin-top: 10px;
  padding: 0 36px;
  width: 100%;
  height: 40px;
  background-color: var(--btn-color);
  border: none;
  font-size: 14px;
  color: #fff;
  transition: ease-in-out 0.25s;
}
.order-group:hover {
  background-color: var(--hover-btn-color);
}
.rightcontainer {
  background: #ffffff;
  flex: 1;
  margin-left: 10px;
  height: 100%;
}
.operations i {
  cursor: pointer;
}

.list-header-operations:hover {
  color: #f57224;
}
div.thongbao {
  position: fixed;
  /* z-index: 1;  */
  top: 150px;
}
.group-sp {
  margin-bottom: 12px;
  /* border-top: 1px solid #eff0f5; */
  box-shadow: 0 10px 25px 0 #d7d4ce;
}

/** Empty Cart */
.container-empty {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-empty-annouce {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-empty-annouce img {
  width: 60px;
  height: 60px;
}

.container-empty-annouce p {
  font-size: 15px;
  color: var(--font-color);
  margin: 15px 0 20px;
}

.container-empty-annouce button {
  padding: 12px 24px;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  background-color: transparent;
  font-weight: 500;
}

/** Css Checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid var(--font-heading-color);
  border-radius: 3px;
  transition: ease-in-out 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

input[type="checkbox"]:hover {
  cursor: pointer;
  border: 1px solid var(--btn-color);
}

input[type="checkbox"]::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: white;
  display: none;
}

input[type="checkbox"]:checked {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
}

input[type="checkbox"]:checked:after {
  display: block;
}

/** Modal Confirm */
.modal {
  background-color: rgba(255, 255, 255, 0.25);
}

.modal-dialog {
  max-width: 300px;
}

.modal-content {
  width: 300px;
  border-radius: 0;
}

.modal-body {
  padding-bottom: 0;
}

.modal-body p {
  font-size: 16px;
  margin-bottom: 0;
}

.modal-footer {
  border: none;
}

.modal-footer button {
  background-color: transparent;
  border: none;
  color: #333;
  text-transform: uppercase;
  padding: 6px 12px;
  margin: 4px;
}

.modal-footer button:hover {
  background-color: transparent;
  color: #333;
}

.modal-footer button:last-child {
  color: var(--profile-color);
}
