body {
  background-color: #f5f5f5;
}

.lienket {
  padding: 8px 0;
  font-size: 15px;
  color: #757575;
}

.lienket span {
  margin: 0 4px;
}

.lienket a {
  color: var(--profile-color);
}

.img-zoom-container {
  position: relative;
}

.container {
  padding: 0px;
  width: 100%;
}

.footer-container ul {
  padding: 0;
}

.img-zoom-lens {
  position: absolute;
  background: rgb(151, 151, 231);
  opacity: 0.1;
  /*đặt kích thước của ống kính:*/
  width: 200px;
  height: 100px;
}
.img-ssss {
  width: 100px;
  height: 100px;
}
.img-zoom-result {
  position: absolute;
  right: 5px;
  top: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); /* hiệu ứng đổ bóng*/
  width: 100%;
  height: 520px;
  z-index: 1;
}
.block {
  display: flex;
  justify-content: center;
  background: #fff;
  padding-bottom: 30px;
}
.block-center {
  position: relative;
}

.block-center-left {
  padding: 8px 16px 12px 0;
}

.block .block-center {
  flex: 2;
}
.block-left {
  flex: 1;
  position: relative;
  padding: 5px 0;
}

.block-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.block-left .img1 {
  cursor: zoom-in;
  width: 300px;
  height: 300px;
  margin-bottom: 6px;
  margin-left: 6px;
  border-bottom: 1px solid #eff0f5;
  object-fit: cover;
  object-position: center;
}

.img-line {
  display: flex;
}
.img-line button {
  background: #ffffff;
  border: none;
  width: 20px;
}
.img-line .img-next-slick {
  display: flex;
  width: 300px;
  overflow: hidden;
  animation-delay: 2s;
}
.img-next-slick img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  position: relative;
}

.gia-ban {
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px solid var(--page-color);
}

.gia-ban-sale {
  font-size: 25px;
  color: var(--btn-color);
}

.show-heart {
  color: var(--btn-color);
}

.name-sp h1 {
  color: #212121;
  font-size: 22px;
  font-weight: 500;
  margin: 8px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.rate {
  display: flex;
  justify-content: space-between;
}

.rate-star {
  line-height: 28px;
  font-size: 14px;
}

.rate-star span {
  color: #757575;
  margin-right: 6px;
}

.rate > i {
  margin-right: 16px;
  color: var(--font-heading-color);
  font-size: 20px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.rate-star i {
  color: var(--star-color);
  font-size: 14px;
}

.rate-star a {
  color: var(--profile-color);
}

.select-title {
  display: flex;
  margin-top: 15px;
}

.select-title p {
  flex: 1;
  color: var(--font-heading-color);
}

.select-name {
  flex: 5;
}

.php {
  margin: 0 5px;
}

.selection-mau-1,
.selection-size {
  display: flex;
  flex-direction: column;
}

.selection-mau {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.selection-mau button {
  width: 28px;
  height: 28px;
}

.select-name-img {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.img-sp {
  width: fit-content;
}

.img-sp .mau-chon {
  margin: 8px 12px 0 0;
  width: 36px;
  height: 36px;
  border: 1px solid var(--btn-color);
}

.image-mau {
  margin: 8px 12px 0 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: relative;
}

.size-sp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
}

.btn-sp {
  margin-right: 12px;
  margin-bottom: 12px;
}

.btn-size {
  padding: 3px 12px;
  background-color: transparent;
  border: 1px solid var(--border-category);
  border-radius: 2px;
}

.select-qty {
  display: flex;
  align-items: center;
}

.select-qty button {
  font-size: 18px;
  font-weight: 500;
  width: 32px;
  height: 32px;
  border: none;
  background-color: var(--border-category);
  color: var(--font-heading-color);
}

.select-qty p {
  font-size: 15px;
  color: var(--font-heading-color);
  margin-bottom: 0;
  margin-left: 12px;
}

#number-sp {
  width: 36px;
  text-align: center;
  border: none;
  outline: none;
}

#number-sp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order {
  height: 44px;
  display: flex;
  margin-top: 25px;
}

.order .mua-ngay {
  background: var(--star-color);
  width: 255px;
  color: #fff;
  border: none;
}

.order .them-vao-cart {
  background: #f57224;
  width: 255px;
  color: #fff;
  border: none;
  margin-left: 20px;
}

.toast-error {
  color: var(--error-color);
  font-size: 15px;
}

.block-center-right i {
  color: #757575;
}

.shop {
  text-align: center;
}

.name-shop {
  width: 70%;
}

.name-shop a,
.shop a {
  text-decoration: none;
}

.chat-shop {
  margin: auto;
  color: #199cb7;
  font-size: 14px;
  cursor: pointer;
  font-family: Roboto-Medium;
}
.chat-shop i,
.shop a {
  color: #199cb7;
}
.danh-gia-nguoi-dung {
  justify-content: space-between;
}
.danh-gia {
  display: flex;
  flex-direction: column;
  width: 33, 33%;
}
.danh-gia-name {
  margin-bottom: 20px;
  font-size: 12px;
  color: #757575;
}
.phan-tram {
  color: #212121;
  font-size: 26px;
  text-align: left;
}
.sp1 {
  padding: 8px 10px 8px 16px;
  border-bottom: 1px solid #eff0f5;
  border-top: 1px solid #eff0f5;
}
.sp2 {
  padding: 8px 10px;
  border: 1px solid #eff0f5;
}
.sp3 {
  padding: 8px 10px;
  border-bottom: 1px solid #eff0f5;
  border-top: 1px solid #eff0f5;
}

@keyframes showToast {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toast {
  display: flex;
  align-items: center;
  background-color: var(--success-color);
  height: 75px;
  padding: 0 12px;
}

.toast-logo {
  flex: 1;
}

.toast-logo i {
  font-size: 30px;
  color: white;
}

.toast h3 {
  flex: 5;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}

.toast button {
  flex: 1;
  color: var(--font-heading-color);
}

.active {
  border: 1px solid var(--btn-color);
}

/** Detail Review */
.evoluate {
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
}

.evoluate-title {
  line-height: 52px;
  padding: 0 24px;
  margin-bottom: 0;
  color: #212121;
  font-size: 17px;
  border-bottom: 1px solid var(--page-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.evoluate-block {
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.evoluate-star {
  flex: 1;
  display: flex;
  align-items: center;
}

.evoluate-star-number {
  flex: 1;
}

.evoluate-star-number-main {
  color: var(--font-heading-color);
  font-weight: 400;
  font-size: 36px;
}

.evoluate-star-number-main span {
  color: #212121;
  font-weight: 450;
  font-size: 48px;
}

.evoluate-star-number-main i {
  margin-left: 4px;
  color: var(--star-color);
}

.evoluate-star-number p {
  font-size: 14px;
  color: #757575;
}

.evoluate-star-classify {
  flex: 1;
}

.evoluate-star-classify-item {
  display: flex;
  margin-bottom: 8px;
}

.evoluate-star-classify-item img {
  width: 20px;
  height: 20px;
}

.evoluate-star-classify-item span {
  font-size: 14px;
  margin-left: 8px;
}

.evoluate-comment {
  flex: 2;
  margin-left: 40px;
}

.evoluate-comment-content {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--page-color);
  margin-bottom: 15px;
}

.evoluate-comment-user {
  display: flex;
  align-items: center;
}

.evoluate-comment-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.evoluate-comment-user-title {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #212121;
}

.evoluate-comment-user-title span {
  font-weight: 400;
  color: #757575;
  margin-right: 4px;
}

.evoluate-comment-user-title i {
  color: var(--star-color);
}

.evoluate-comment-content p {
  font-size: 16px;
  margin-top: 12px;
}

.evoluate-comment-content-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.evoluate-comment-content-end p {
  color: #757575;
  margin: 0;
}

.evoluate-comment-content-end button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: ease-in-out 0.2s;
  outline: none;
}

.evoluate-comment-content-end button:hover {
  background-color: var(--border-category);
}

.evoluate-empty {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px;
}

.evoluate-empty img {
  height: 80px;
  width: 80px;
}

.evoluate-empty h5 {
  font-size: 17px;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 0;
}

/** Show modal to edit rate  */
@keyframes showModal {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-header {
  border: none;
  padding: 10px 16px;
}

.modal-body {
  padding: 20px 16px 10px;
}

.modal-footer {
  border: none;
  padding: 8px 12px;
}

.modal-dialog-scrollable {
  animation: showModal linear 0.3s;
}

.modal-rated-header {
  justify-content: center;
  border-bottom: 1px solid var(--page-color);
}

.modal-rated-header h5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.modal-rated-star {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-rated-star-icon {
  font-size: 36px;
  color: #ccc;
  margin: 0 4px;
  cursor: pointer;
}

.active-star {
  color: var(--star-color);
}

.modal-rated-error {
  text-align: center;
  font-size: 15px;
  color: var(--error-color);
  margin: 8px 0;
}

.modal-rated-text {
  margin-top: 16px;
}

.modal-rated-text p {
  text-align: right;
  margin-bottom: 8px;
  font-size: 14px;
  color: #757575;
}

.modal-rated-text textarea {
  width: 100%;
  border: none;
  font-size: 16px;
  outline: none;
  resize: none;
}

.modal-rated-footer button {
  padding: 7px 14px;
  border: none;
  font-size: 15px;
}

.modal-footer-cancel {
  color: var(--font-color);
  background-color: #ccc;
}

.modal-footer-post {
  background-color: var(--btn-color);
  transition: ease-in-out 0.3s;
  color: white;
  margin-left: 8px;
}

.modal-footer-post:hover {
  background-color: var(--hover-btn-color);
}
