.classname a {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}
.khoi11 a :hover {
  color: blue;
}
.khoi11 a {
  color: black;
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.buttomhome {
  border-bottom: 1px solid var(--page-color);
}

.tong2manhinhdoc2 {
  z-index: -1;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.header123 {
  width: 100%;
  height: 47px;
  line-height: 47px;
  font-size: 15px;
}

.khoibentrai {
  display: block;
  flex-basis: 16.6667%;
  line-height: 22.001px;
  max-width: 16.6667%;
  right: 1000px;
  text-size-adjust: 100%;
  width: 200px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.khoi13 {
  display: flex;
  flex-direction: row;
}
.khoi14 {
  display: flex;
  flex-direction: row;
}

.khoibenphai {
  display: flex;
  flex-direction: column;
  flex-basis: 83.3333%;
  margin-bottom: 40px;
}

.khoibenphai h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 15px;
  font-weight: 450;
}

.khoibenphai-price {
  display: flex;
  align-items: center;
}

.khoibenphai-price p {
  margin-bottom: 0;
  font-size: 14px;
}

.khoibenphai-price-item {
  margin-left: 6px;
  padding: 2px 6px;
  border: 1px solid var(--border-category);
  font-size: 13px;
  color: #666;
}

.khoibenphai-price-item i {
  margin-left: 8px;
  cursor: pointer;
}

.khoibenphai-remove-all {
  color: var(--profile-color);
  font-size: 13px;
  margin-left: 8px;
  cursor: pointer;
}

.headerTopRight {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-between;
}

.headerTopRight p {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
}

.headerTopRight div {
  font-size: 14px;
}

#sort {
  margin-left: 12px;
  padding: 8px;
  width: 150px;
  cursor: pointer;
  border: 1px solid var(--border-category);
  transition: ease-in 0.25s;
}

#sort:hover {
  border: 1px solid #666;
}

.headerkhoiphai {
  background-color: white;
  height: 48px;
  font-weight: 600;
  font-size: large;
  font-style: italic;
  font-family: inherit;
  padding: 12px 5px;
  text-align: start;
  border: 1px solid rgb(185, 185, 185);
}
.chieudoc {
  display: flex;
  flex-direction: column;
}
.buttomhomezzz2 {
  z-index: -1;
  cursor: auto;
  opacity: 80%;
}
.buttomhomezzz {
  z-index: -1;
  opacity: 50%;
  margin: 0 8px;
}
.buttomhomezzz1 {
  color: var(--link-color);
}
.noidungbenphai {
  color: rgba(0, 0, 0, 0.85);
  display: block;
  font-size: 14px;
  margin-bottom: -10px;
  margin-top: 28px;
  text-size-adjust: 100%;
  width: 1000px;
}
.khoi0 {
  z-index: -1;
  margin: 3px;
  padding: 1px;
  padding-right: 7px;
  display: block;
  float: left;
  font-size: 14px;
  font-variant-caps: normal;
  height: 358px;
  line-height: 22.001px;
  text-size-adjust: 100%;
  width: 230px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.phantrang {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 30px;
}

.btn-page {
  padding: 4px 12px;
  border: 1px solid var(--font-heading-color);
  background-color: transparent;
  color: var(--font-heading-color);
  transition: ease-in-out 0.25s;
  border-radius: 4px;
  margin: 0 4px;
}

.btn-page:hover {
  border: 1px solid var(--profile-hover-color);
  color: var(--profile-hover-color);
}

.active-page {
  color: white;
  background-color: var(--profile-color);
  border: 1px solid var(--profile-color);
  pointer-events: none;
}

.active-page-hide {
  opacity: 0.5;
  pointer-events: none;
}

.buttomhome {
  font-size: 14px;
}
.z1111111 {
  z-index: 0;
}

.khoi1 {
  z-index: -1;
  width: 100%;
}
.khoi1 img {
  width: 220px;
  height: 220px;
}

.khoi1 {
  border: 1px solid rgb(10, 9, 9);
}

.khoibentrai-group {
  padding-right: 12px;
  margin-bottom: 12px;
}

.khoibentrai-group h3 {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: ease-in-out 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

input[type="checkbox"]:hover {
  cursor: pointer;
  border: 1px solid var(--btn-color);
}

input[type="checkbox"]::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 12px;
  color: var(--btn-color);
  display: none;
}

input[type="checkbox"]:checked {
  background-color: #fff1e8;
  border: 1px solid var(--profile-color);
}

input[type="checkbox"]:checked:after {
  display: block;
}

.khoibentrai-group-color {
  display: flex;
  align-items: center;
  height: 24px;
}

.khoibentrai-group-color label {
  font-size: 14px;
  color: #757575;
  margin-left: 8px;
}

.khoibentrai-group-price {
  margin-top: 8px;
}

.khoibentrai-group-price input {
  width: 100%;
  outline: none;
  padding: 6px 4px;
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  font-size: 14px;
}

.khoibentrai-group-price p {
  text-align: center;
  margin: 4px 0;
}

.khoibentrai-group-price-btn {
  margin-top: 15px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: white;
  font-size: 15px;
  transition: ease-in-out 0.25s;
  opacity: 0.5;
  pointer-events: none;
}

.khoibentrai-group-price-btn:hover {
  background-color: var(--hover-btn-color);
}

.khoibentrai-group-rate {
  display: flex;
  align-items: center;
  height: 24px;
  cursor: pointer;
}

.khoibentrai-group-rate img {
  width: 18px;
  height: 18px;
}

.khoibentrai-group-rate span {
  font-size: 14px;
  color: #757575;
  margin-left: 8px;
}

/** Product */
.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.product-item {
  margin-bottom: 16px;
  padding: 0 6px;
}

.product-link {
  position: relative;
  height: 350px;
  text-decoration: none;
  background-color: #fff;
  display: block;
  z-index: 1;
  cursor: pointer;
}

.product-link:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%) !important;
}

.product-link img {
  width: 100%;
  height: 241px;
  object-fit: cover;
  object-position: top;
}

.product-content {
  padding: 10px 8px;
}

.product-name {
  margin-bottom: 0;
  font-size: 15px;
  color: #212121;
  line-height: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-price {
  color: var(--btn-color);
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  margin: 0;
}

.product-address {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-address i {
  color: var(--font-heading-color);
  margin-left: 4px;
  font-size: 14px;
}

.product-address p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--font-heading-color);
}

.product-view {
  text-align: center;
  margin-top: 30px;
}

.product-view button {
  padding: 12px 24px;
  width: 25%;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--profile-hover-color);
  border: 1px solid var(--profile-hover-color);
  border-radius: 25px;
  background-color: #fff;
}

.event-click {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}
