.classname a {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.khoi11 a :hover {
  color: blue;
}
.khoi11 a {
  color: black;
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
:root {
  --page-color: white;
}
.searchconten {
  width: 333px;
}
.searchtong {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttomhome {
  border-bottom: 1px solid rgb(185, 185, 185);
}

.tong2manhinhdoc {
  color: rgba(0, 0, 0, 0.85);
  display: block;
  flex-basis: 100%;
  font-feature-settings: "tnum";
  font-size: 14px;
  font-variant-numeric: tabular-nums;
  line-height: 22.001px;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  text-size-adjust: 100%;
  width: 1200px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tong2manhinhdoc2 {
  z-index: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-feature-settings: "tnum";
  font-size: 14px;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: tabular-nums;
  height: auto;
  line-height: 22.001px;
  text-size-adjust: 100%;
  width: 1200px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.header123 {
  z-index: -1;
  text-align: justify;
  width: 100%;
  height: 47px;
  cursor: pointer;
  display: inline;
  font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
  font-feature-settings: "tnum";
  font-size: 14px;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: tabular-nums;
  font-weight: 300;
  height: auto;
  line-height: 47px;
  list-style-type: disc;
  text-align: left;
  text-size-adjust: 100%;
  white-space: nowrap;
  width: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.khoibentrai {
  display: block;
  flex-basis: 16.6667%;
  line-height: 22.001px;
  max-width: 16.6667%;
  right: 1000px;
  text-size-adjust: 100%;
  width: 200px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.khoi13 {
  display: flex;
  flex-direction: row;
}
.khoi14 {
  display: flex;
  flex-direction: row;
}
.khoibenphai {
  display: flex;
  flex-direction: column;
  flex-basis: 83.3333%;
  float: right;
  font-feature-settings: "tnum";
  font-size: 14px;
  height: auto;
  left: 200px;
  line-height: 22.001px;
  min-height: 1px;
  text-size-adjust: 100%;
  width: 1000px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.headerkhoiphai {
  background-color: white;
  height: 48px;
  font-weight: 600;
  font-size: large;
  font-style: italic;
  font-family: inherit;
  padding: 12px 5px;
  text-align: start;
  border: 1px solid rgb(185, 185, 185);
}
.chieudoc {
  display: flex;
  flex-direction: column;
}
.buttomhomezzz2 {
  z-index: -1;
  cursor: auto;
  opacity: 80%;
}
.buttomhomezzz {
  z-index: -1;
  opacity: 50%;
}
.buttomhomezzz1 {
  color: rgb(26, 156, 183);
}
.noidungbenphai {
  border-top: rgb(241, 241, 241) solid 1px;

  color: rgba(0, 0, 0, 0.85);
  display: block;
  font-size: 14px;
  margin-bottom: -10px;
  margin-top: 15px;

  text-size-adjust: 100%;
  width: 1000px;
}
.khoi0 {
  z-index: -1;
  margin: 3px;
  padding: 1px;
  padding-right: 7px;
  display: block;
  float: left;
  font-size: 14px;
  font-variant-caps: normal;
  height: 358px;
  line-height: 22.001px;
  text-size-adjust: 100%;
  width: 230px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.phantrang {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(185, 185, 185);
}

.buttomhome {
  font-size: 14px;
}

.z1111111 {
  z-index: 0;
}

.khoi1 {
  z-index: -1;
  width: 100%;
}
.khoi1 img {
  width: 220px;
  height: 220px;
}

.khoi1 {
  border: 1px solid rgb(10, 9, 9);
}
