body {
  background-color: #f5f5f5;
}

.carousel {
  z-index: -1;
}

.title {
  font-weight: 400;
  margin: 30px 0 20px;
  font-size: 22px;
  color: var(--font-color);
}

/* Category */
.category-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  height: calc(var(--category-height) * 2);
  overflow: auto;
}

.category-list::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.category-list::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.category-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #999;
}

/* Handle on hover */
.category-list::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.category-item {
  width: 12.5%;
}

.category-item-link {
  border: 1px solid var(--border-category);
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  height: var(--category-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-item:hover {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  z-index: 1;
}

.category-item img {
  width: 80px;
  height: 80px;
}

.category-item p {
  font-size: 15px;
  margin: 8px 0 0;
  color: #212121;
  padding: 0 8px;
  line-height: 1.2rem;
}

/* Product */
.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.product-item {
  margin-bottom: 16px;
  padding: 0 6px;
}

.product-link {
  height: 290px;
  position: relative;
  text-decoration: none;
  background-color: #fff;
  display: block;
  z-index: 1;
  cursor: pointer;
}

.product-link:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%) !important;
}

.product-link img {
  width: 100%;
  height: 183.325px;
  object-fit: cover;
  object-position: top;
}

.product-content {
  padding: 10px 8px;
}

.product-name {
  margin-bottom: 0;
  font-size: 15px;
  color: #212121;
  line-height: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-price {
  color: var(--btn-color);
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  margin: 0;
}

.product-address {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-address i {
  color: var(--font-heading-color);
  margin-left: 4px;
  font-size: 14px;
  z-index: 1;
}

.product-address p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--font-heading-color);
}

.product-address p:last-child {
  color: #757575;
}

.product-view {
  text-align: center;
  margin-top: 30px;
}

.product-view button {
  padding: 12px 24px;
  width: 25%;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--profile-hover-color);
  border: 1px solid var(--profile-hover-color);
  border-radius: 25px;
  background-color: #fff;
}

/* Pagination */
.pagination-title {
  text-align: center;
  margin: 30px 0 40px;
}

.pagination-title h3 {
  margin: 0 auto;
  background-color: var(--btn-color);
  width: fit-content;
  padding: 12px 18px;
  border-radius: 10px;
  color: white;
  font-size: 1.45rem;
  cursor: default;
}

.pagination {
  justify-content: center;
  margin-top: 24px;
}

.page-item {
  padding: 0 4px;
}

.page-link {
  padding: 8px 16px;
  color: var(--font-color);
  font-size: 18px;
  transition: ease-in 0.25s;
  outline: none;
  cursor: pointer;
}

.page-link:hover {
  background-color: #faa574;
  color: white;
  border: none;
}

.active {
  background: var(--btn-color);
  color: white;
}
