body {
  background-color: var(--page-color);
}

.main {
  width: var(--header-width);
  margin: 30px auto 120px;
}

.content {
  display: flex;
}

.content-list {
  flex: 1;
  list-style: none;
}

.content-list p {
  font-size: 14px;
  margin: 12px 0;
}

.content-item {
  padding: 6px 0;
}

.content-item-title {
  cursor: pointer;
  font-size: 16px;
  color: var(--font-color);
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}

.active {
  color: var(--profile-color);
}

.content-info {
  flex: 5;
  margin-left: 50px;
  animation: showAnimate linear 0.3s;
}

@keyframes showAnimate {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Info Personal */
.content-info h3 {
  font-size: 22px;
  color: var(--font-color);
  margin: 10px 0;
  font-weight: 400;
}

.content-info-container {
  background-color: white;
  padding: 40px;
}

.content-info-detail {
  display: flex;
  align-items: center;
}

.content-info-detail-avatar {
  flex: 1;
  text-align: center;
}

.content-info-detail-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.content-info-detail-avatar p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.content-info-detail-user {
  flex: 2;
}

.content-info-detail-title p {
  margin-top: 8px;
  font-size: 16px;
}

.content-info-detail-user {
  display: flex;
  flex-wrap: wrap;
}

.content-info-detail-title {
  width: 50%;
  margin: 20px 0;
}

.empty {
  color: var(--font-heading-color);
}

.content-info-detail-edit {
  text-align: center;
  margin-top: 60px;
}

.content-info-detail-edit button {
  height: 46px;
  padding: 0 32px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  margin: 0 8px;
  background-color: var(--profile-color);
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.content-info-detail-edit button:hover {
  background-color: var(--profile-hover-color);
}

/* Personal Info */
.content-info-detail-avatar h4 {
  margin-bottom: 8px;
  font-weight: 400;
}

.content-info-detail-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-info-detail-name p {
  margin: 0 12px;
}

.error-edit {
  position: relative;
  justify-content: center;
  padding-bottom: 24px;
  display: none;
}

#address {
  width: 100%;
  margin-top: 4px;
  height: 36px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #ddd;
  outline: none;
}

.birthday {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

#day,
#month,
#year,
#gender {
  padding: 0 8px;
  height: 30px;
  border: 1px solid #ddd;
  outline: none;
}

#day {
  width: 60px;
}

#month {
  width: 100px;
}

#year {
  width: 80px;
}

#gender {
  margin-top: 8px;
}

#edit-username {
  margin-top: 12px;
  padding: 0 8px;
  height: 36px;
  width: 75%;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

.error-text {
  position: absolute;
  bottom: 0;
  color: var(--btn-color);
}

.change-info {
  text-decoration: none;
  color: #1a9cb7;
  cursor: pointer;
  font-weight: 300;
}

/* Change password */
.content-info-group {
  position: relative;
  padding-bottom: 24px;
  width: 50%;
}

.content-info-group label {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  display: block;
}

.content-info-group input {
  height: 40px;
  width: 100%;
  font-size: 15px;
  border: 1px solid #ddd;
  padding: 0 10px;
  outline: none;
}

.content-info-group span {
  position: absolute;
  bottom: 6px;
  left: 0;
  color: var(--btn-color);
  font-size: 13px;
}

.btn-change {
  margin-top: 20px;
  width: 288px;
  height: 48px;
  background-color: var(--btn-color);
  padding: 0 36px;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.btn-change:hover {
  background-color: var(--hover-btn-color);
}
