<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/filter.css" />
  </head>
  <body>
    <!-- trang chủ - tìm kiếm  -->
    <div id="" class="buttomhome">
      <span class="">
        <a title="Trang chủ"  href="http://localhost:3000/Search?" class="">
          <span>Trang chủ</span>
        </a>
      </span>
    </div>
    <!-- chia màn hình làm 2 nửa dọc  -->
    <div class="tong2manhinhdoc">
      <!-- phần trái -->
      <div class="khoibentrai">
        <div class="">Danh mục liên quan</div>
        <div>
          <a
            data-spm-click="gostr=/lzdse.result.filter;locaid=d1"
            class="DMfHy"
            href="https://www.lazada.vn/dien-thoai-di-dong/?q=ss&amp;from=input"
            >Điện thoại di động</a
          >
        </div>

        <div class="_9xWFp">Tính năng điện thoại</div>
        <div class="">
          <label class="ant-checkbox-wrapper eJgGs"
          ><span class="ant-checkbox"
            ><input
              type="checkbox"
              class="ant-checkbox-input"
              data-spm-click="gostr=/lzdse.result.filter;locaid=d14"
              value="" /><span class="ant-checkbox-inner"></span></span
          ><span>gyro</span>
        </label>
        </div>
        <div class="iSqXl">Xem thêm</div>
        <div class="_9xWFp">Dịch vụ</div>
        <div class="">
          <label class="ant-checkbox-wrapper eJgGs"
                    ><span class="ant-checkbox"
                      ><input
                        type="checkbox"
                        class="ant-checkbox-input"
                        data-spm-click="gostr=/lzdse.result.filter;locaid=d1"
                        value="" /><span
                        class="ant-checkbox-inner"
                      ></span></span
                    ><span>Giao hàng miễn phí</span></label
                  >
                  <label class="ant-checkbox-wrapper eJgGs"
                    ><span class="ant-checkbox"
                      ><input
                        type="checkbox"
                        class="ant-checkbox-input"
                        data-spm-click="gostr=/lzdse.result.filter;locaid=d4"
                        value="" /><span
                        class="ant-checkbox-inner"
                      ></span></span
                    ><span>Thanh toán khi nhận hàng</span></label
                  >
        </div>
              <div class="_9xWFp">Địa điểm</div>
              <div class="">
                <label class="ant-checkbox-wrapper eJgGs"
                    ><span class="ant-checkbox"
                      ><input
                        type="checkbox"
                        class="ant-checkbox-input"
                        data-spm-click="gostr=/lzdse.result.filter;locaid=d2"
                        value="" /><span
                        class="ant-checkbox-inner"
                      ></span></span
                    ><span>Hồ Chí Minh</span></label
                  >
                  
          <label class="ant-checkbox-wrapper eJgGs"
                    ><span class="ant-checkbox"
                      ><input
                        type="checkbox"
                        class="ant-checkbox-input"
                        data-spm-click="gostr=/lzdse.result.filter;locaid=d3"
                        value="" /><span
                        class="ant-checkbox-inner"
                      ></span></span
                    ><span>Hà Nội</span></label
                  >
              </div>
           <div class="iSqXl">Xem thêm</div>
        <div class="_9xWFp">Giá</div>
        <div class="">
          <input
                  class="q9tZB"
                  placeholder="Tối thiểu"
                  type="number"
                  min="0"
                  pattern="[0-9]*"
                  value=""
                />
          <input class="q9tZB"  placeholder="Tối đa"   type="number"    min="0"     pattern="[0-9]*"    value=""/>
        </div>
      </div>


      <!-- khối bên phải header đã xong -->
      <div class="khoibenphai">
        <div class="headerkhoiphai">
          
        </div>

        <div class="noidungbenphai">
          <table class="noidungbenphaitable" >

          </table>
        </div>

        <!-- phân trang -->
        <div class="phantrang">

          <!-- <div class="">
            <ul class="" unselectable="">
              <h1>trang trước</h1>
              <li title=" Page" class="" aria-disabled="">
                <button class="" type="button" tabindex="-1" disabled="">
                  trang trước
                </button>
              </li>
              <li title="1" class="" tabindex="0">
                <a href="">trang đầu 1</a>
              </li>
              <h1>
                nhấn vào nút mũi tên hiện trang tiếp + phần phân trang hiện
                trang đầu trang cuối + trang tiếp
              </h1>
              <li title="" class="" tabindex="">
                <a href="">(số trang cuối)</a>
              </li>
              <li title="Next Page" tabindex="" class="">
                <button class="" type="" tabindex="">
                  <span>nút bấm next</span>
                </button>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
