<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/filter.css" />
  </head>
  <body>
    <!-- trang chủ - tìm kiếm  -->
    <div id="" class="buttomhome">
      <span class="">
        <a title="Trang chủ"  href="http://localhost:3000/Search?" class="">
          <span>Trang chủ</span>
        </a> <span>-> Search</span>
      </span>
    </div>
    <!-- chia màn hình làm 2 nửa dọc  -->
    <div class="tong2manhinhdoc">
      <!-- phần trái -->
      <div class="khoibentrai">
        <div class="">Danh mục liên quan</div>
        <div>
          <a
            class=""
            href="http://fb.com/"
            >vào fb thư giãn</a
          >
        </div>

        <div class="">Tính năng</div>
        <div class="">
          <span class=""
            ><input
              type="checkbox"
              class=""
              value="" /><span class=""></span></span
          ><span>hack fb</span>
        </div>
        <div class="_9xWFp">Dịch vụ</div>
        <div class="">
          <label class=""
                    ><span class=""
                      ><input
                        type="checkbox"
                        class=""
                       /></span
                    ><span>Giao hàng miễn phí</span></label
                  >
                  <span class=""
                      ><input
                        type="checkbox"
                        class=""
                        /></span></span
                    ><span>Thanh toán khi nhận hàng</span>
        </div>
              <div class="_9xWFp">Địa điểm</div>
              <div class="">
               <span class=""
                      ><input
                        type="checkbox"
                        /></span></span
                    ><span>Hồ Chí Minh</span>
                    <br>

               <span class="">
                 <input
                        type="checkbox"
                        class=""
                       /></span
                    ><span>Hà Nội</span>
              </div>
        <div class="">Giá</div>
        <div class="">
          <input
                  class=""
                  placeholder="Tối thiểu"
                  type="number" />
          <input class=""  placeholder="Tối đa"   type="number"  />
        </div>
      </div>


      <!-- khối bên phải header đã xong -->
      <div class="khoibenphai">
        <div class="headerkhoiphai">
          
        </div>

        <div class="noidungbenphai">
          <table class="noidungbenphaitable" >

          </table>
        </div>

        <!-- phân trang -->
        
        <div class="phantrang">
          <button class="trangtruoc" ><-</button>
          <div class="phantranggiua"></div>
          <button class="trangsau" >-></button>
        </div>
      </div>
    </div>
  </body>
</html>
