<p>Nhóm màu</p>
<div class="selection-mau">
  <div class="ten-mau">
    <span class="mau-da-chon">Vui lòng chọn</span>
  </div>
  <div class="mau-sp">
    <% for(var i = 0 ; i < listcolor.length ; i += 2) { %>
    <div class="img-sp">
      <img
        class="image-mau"
        id="mau-sp<%= i %>"
        alt="<%= listcolor[i] %>"
        src="<%= listdata[listcolor[i+1]].listImg[0] %>"
      />
    </div>
    <% } %>
  </div>
</div>
