<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/order.css">
</head>
<body>
    <%- include('../../components/header.ejs') %>

    <div class="body-con">
        <div class="container">
            
                <div class="container_left">
                    <div class="leftContainer_1000">
                        <div class="checkout_adress">
                            <div class="v2-title-wrapper">
                                <p class="v2-title-wrapper">
                                    <p class="v2-address-hat">Địa chỉ giao hàng</p>
                                    <a href="#" class="v2-title-wrapper-edit">Chỉnh sửa</a>
                                </p>
                            </div>
                            <div class="v2-checkout-address-inner">
                                <div class="v2-address-title-container">
                                    <span class="v2-address-title">ádas</span>
                                    <span class="v2-mobile">0358468542</span>
                                </div>
                                <div class="v2-address-info-item">
                                    <span>NHÀ RIÊNG</span>
                                    <span>nha trang, Phường Vĩnh Phước, Thành Phố Nha Trang, Khánh Hòa</span>
                                </div>
                            </div>
                        </div>
                        <div class="package">
                            <div class="package-title clearfix">
                                <div class="package-title-left">
                                    <span class="package-title-name">Gói hàng 1 của 6</span>
                                </div>
                                <div class="package-title-right">
                                    <span class="package-title-tips">Được giao bởi</span>
                                    <span class="package-title-brand">Elnidofashion</span>
                                </div>
                            </div>
                            <div id="delivery_4acfac8290a1c19fd29f1a91b7228054_delivery" class="delivery-option">
                                <div class="delivery-option-body">
                                    <div class="delivery-slider">
                                        <div class="delivery-slider-content">
                                            <p class="delivery-slider-title">Tùy chọn giao hàng</p>
                                        </div>
                                        <div class="delivery-slider-wrap without-arrow">
                                            <div class="delivery-item-inner delivery-item-selected">
                                                <div class="delivery-item-top">
                                                    <div class="delivery-item-content">
                                                        <div class="delivery-item-first-line">
                                                            <span></span>
                                                            <div class="delivery-item-price">
                                                                <span class="delivery-item-current-price">132.700 ₫</span>
                                                                <span class="delivery-item-origin-price"></span>
                                                            </div>
                                                        </div>
                                                        <p class="delivery-item-name-wrap">
                                                            <span class="delivery-item-name">GH tiêu chuẩn</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="delivery-item-bottom" data-spm="confirm">
                                                    <p class="delivery-item-time">Nhận vào: 22-26 thg 4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="padding-left: 10px; padding-right: 10px;">
                            <div id="item_0603907ea1877fbc6282a803a0c13582" class="cart-item">
                                <div class="cart-item-inner"><div class="cart-item-left">
                                    <div class="img-wrap">
                                        <a href="#" id="automation-link-from-image-to-prod-item_0603907ea1877fbc6282a803a0c13582" class="automation-link-from-image-to-prod">
                                            <img class="img" src="https://sg-live-01.slatic.net/p/b467a48b4aeb8e589d358981d36d0b17.jpg" alt="item"></a>
                                        </div>
                                        <div class="content">
                                            <a id="automation-link-from-title-to-prod-item_0603907ea1877fbc6282a803a0c13582" href="#" class="automation-link-from-title-to-prod title">
                                                <img src="https://gcp-img.slatic.net/lazada/e5f9fdeb-dea9-4747-bd69-1dadbc2e428a_ALL-100-18.png#width=100&amp;height=18" alt="" class="promoted-icon">
                                                Quần âu nam cao cấp đai chun co giãn công sở Hàn Quốc ống suông, quần baggy nam ống rộng dáng âu phong cách ulzzang
                                            </a>
                                                <a id="automation-link-from-sub-title-to-prod-item_0603907ea1877fbc6282a803a0c13582" href="#" class="automation-link-from-sub-title-to-prod sku">
                                                    No Brand, Nhóm Màu:Đen, Size:Int:M
                                                </a>
                                                0
                                            </div>
                                        </div>
                                        <div class="cart-item-middle">
                                            <p class="current-price">129.000 ₫</p>
                                            <p class="origin-price">250.000 ₫</p>
                                            <p class="promotion-ratio">-48%</p>
                                            <div class="operations">
                                                <span class="automation-btn-delete">
                                                    <span> </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="cart-item-right">
                                            <div class="quantity automation-item-quantity">
                                                <span class="item-quantity-prefix">Số lượng: </span>
                                                <span class="item-quantity-value">4</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="width: 100%; height: 1px; background-color: rgb(218, 218, 218);">
                                </div>
                            </div>
                            
                        </div>
                </div>

                <div class="container_right" >
                    <div class="clearfix" >
                        <div class="dat-hang">
                            ĐẶT HÀNG
                        </div>
                    </div>
                    <div class="payment-card-container">
                        <div class="payment-card-header-wrapper">
                            <span class="payment-card-header-title">
                                Chọn phương thức thanh toán
                            </span>
                            <span class="payment-card-header-action">
                                Xem tất cả &gt;
                            </span>
                        </div>
                        <div class="card-list-wrapper">
                            <div class="card-container selected">
                                <div>
                                    <span class="lazada lazada-ic-sucess lazada-icon checked-icon checked">
                                    </span>
                                <div class="card-main-content">
                                    <img class="card-icon" src="https://laz-img-cdn.alicdn.com/tfs/TB1ZP8kM1T2gK0jSZFvXXXnFXXa-96-96.png">
                                    <div class="card-main-content-text-container">
                                        <p class="card-title">
                                            Thanh toán khi nhận hàng
                                        </p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="card-footer-left">
                                        <div class="card-complex-description-wrapper">
                                            <p class="card-complex-description-head-text">
                                                Thanh toán khi nhận hàng
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-container">
                            <div>
                                <span class="lazada lazada-__btn-check-unselect lazada-icon checked-icon">
                                </span>
                                <div class="card-main-content">
                                    <img class="card-icon" src="https://img.alicdn.com/tfs/TB17BAYE7L0gK0jSZFAXXcA9pXa-80-80.png">
                                    <div class="card-main-content-text-container">
                                        <p class="card-title">Ví ZaloPay</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="card-footer-left">
                                        <div class="card-complex-description-wrapper">
                                            <p class="card-complex-description-head-text">Kết nối TK ZaloPay</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-promotion-container">
                                    <span class="card-promotion-text"> Voucher sẵn có</span>
                                </div>
                            </div>
                        </div>
                        <div class="voucher-input">
                            <p class="voucher-title">Mã giảm giá</p>
                            <div class="voucher-input-inner">
                                <div class="voucher-input-col">
                                    <span class="next-input">
                                        <input type="text"  placeholder="Nhập mã giảm giá (mã chỉ áp dụng 1 lần)" value="" height="100%">
                                    </span>
                                </div>
                                <div class="voucher-input-col">
                                    <button type="button" class="next-btn ">
                                            Áp dụng
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="additional-info-wrapper" id="additional-info">
                                <p class="additional-info-title">
                                    Thông tin liên hệ và hóa đơn
                                </p>
                                <p class="additional-info-action">
                                    Edit
                                </p>
                            </div>
                            <div id="additional-detail" class="additional-detail-wrapper">

                            </div>
                            <div class="summary-section">
                                <div class="summary-section-heading">
                                    Thông tin đơn hàng
                                </div
                                ><div class="summary-section-content">
                                    <div class="  checkout-summary">
                                        <div class="checkout-summary-rows">
                                            <div class="checkout-summary-row">
                                                <div class="checkout-summary-main">
                                                    <div class="checkout-summary-label">Tạm tính (64 Sản phẩm)</div>
                                                    <div class="checkout-summary-value">
                                                        <span class="checkout-summary-noline-value">9.612.415 ₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkout-summary-row">
                                                <div class="checkout-summary-main">
                                                    <div class="checkout-summary-label">Phí giao hàng </div>
                                                    <div class="checkout-summary-value">
                                                        <span class="checkout-summary-noline-value">502.500 ₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkout-summary-row">
                                                <div class="checkout-summary-main">
                                                    <div class="checkout-summary-label">Giảm phí vận chuyển </div>
                                                    <div class="checkout-summary-value">
                                                        <span class="checkout-summary-noline-value">-11.000 ₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkout-summary-row">
                                                <div class="checkout-summary-main">
                                                    <div class="checkout-summary-label">Khuyến mãi </div>
                                                    <div class="checkout-summary-value">
                                                        <span class="checkout-summary-noline-value">-14.585 ₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="undefined checkout-order-total">
                                <div class="checkout-order-total-row">
                                    <div class="checkout-order-total-title">Tổng cộng:</div>
                                    <div class="checkout-order-total-fee">
                                        10.089.330 ₫
                                        <small class="checkout-order-total-fee-tip"></small>
                                    </div>
                                </div>
                                <div class="dat-hang">
                                    ĐẶT HÀNG
                                </div>
                            </div>
                        </div>
                </div>
            
        </div>

    </div>

    <%- include('../../components/footer.ejs') %>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/public/js/order.js"></script>
</html>