.luong {
  width: 120px;
  text-align: center;
  margin: auto;
}
#header-category{
  border-bottom:  none ;
}
#header-code{
  border-bottom:  #0033a0 solid 5px ;
}

.luong img {
  width: 30%;
  height: 30%;
  margin: 2px;
  object-fit: cover;
  object-position: center;
}

.bang {
  padding: 20px;
  text-align: center;
  width: 500px;
  margin: auto;
  border: 1px solid orange;
  box-shadow: 0 0 5px orange;
  border-radius: 20px;
}

.bang h4 {
  padding: 10px;
  border-bottom: 1px solid orange;
  color: orange;
  font-weight: 600;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.color-size {
  display: flex;
}
#size {
  width: 20%;
  text-align: center;
  font-size: 15px;
}
#color,
#quantity {
  border: none;
  border-bottom: 1px solid orange;
  padding: 10px;
  width: 100%;
  height: 50px;
}

#add {
  width: 100%;
  color: white;
  background: orange;
  border: 1px solid orange;
  box-shadow: 0 0 5px orange;
  border-radius: 20px;
  margin-top: 20px;
}
.note1,
.note3,
.note2{
  color: red;
}
.button{
  width: 1000px;
  margin: auto;
}
.the-product{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 20px;
}
.the-aaa{
  width: 17%;
  border: 1px solid orange;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
}
.the-listanh{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.imgthumbnail{
  width: 120px;
  height: 100%;
}
.end{
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}
.khac-mau{
  color: #0033a0;
  font-weight: 800;
}
.sua-xoa-day{
  width: 25px;
  height: 25px;
  border: 1px solid #0033a0;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  background: rgb(7, 233, 75);
  opacity: 0.7;
  color: rgb(255, 4, 4);
}
.xoa-day{
  width: 25px;
  height: 25px;
  border: 1px solid #0033a0;
  border-radius: 50%;
  background: red;
  opacity: 0.7;
}
.sua-xoa-day:hover,.xoa-day:hover{
  opacity: 5;
  color: #0033a0;
}
.chuyen-trang{
  display: flex;
  justify-content: center;
}
#yes-no{
  width: 80px;
  height: 50px;
  border-radius: 15px;
  opacity: 0.7;
  background: orange;
  border: none;

}
#yes-no:hover{
  opacity: 5;
}
#body-yes-no{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#body-update{
  text-align: center;
  height: auto;
}
.modal-body{
  width: 100%;
  border-radius: 20px;
}
#staticBackdropLabel{
  font-size: 30px;
  font-weight: 800;
  color: orange;
  position: relative;
  left: 130px;
}
.chien{
  display: flex;
  justify-content: center;
}
.chien-anh-day{
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: cover;
}
#form{
  width: 100%;
}
#sizeid{
  width: 30%;
}
#colorid{
  padding: 20px;
  border: none;
  width: 80%;
  height: 30px;
  border-bottom:  1px solid orange;
}
#quantityid{
  padding: 20px;
  border: none;
  width: 100%;
  height: 30px;
  border-bottom:  1px solid orange;
}
.update-color{
  display: flex;
}
#footer-update{
  display: flex;
  justify-content: space-between;
}
#Close{
  opacity: 0.7;
  background: red;
  border-radius: 15px;
}
#Close:hover,#update-day:hover{
  opacity: 5;
}
#update-day{
  opacity: 0.7;
  background: orange;
  border-radius: 15px;
}