<style>
  .product-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -6px;
  }

  .product-item {
    margin-bottom: 16px;
    padding: 0 6px;
  }

  .product-link {
    position: relative;
    height: 300px;
    text-decoration: none;
    background-color: #fff;
    display: block;
  }

  .product-link:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  }

  .product-link img {
    width: 100%;
    height: 183.325px;
    object-fit: cover;
    object-position: top;
  }

  .product-content {
    padding: 20px 8px 10px;
  }

  .product-name {
    margin-bottom: 0;
    font-size: 15px;
    color: #212121;
    line-height: 1.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .product-price {
    color: var(--btn-color);
    font-size: 18px;
    position: absolute;
    bottom: 18px;
    margin: 0;
  }

  .product-view {
    text-align: center;
    margin-top: 30px;
  }
</style>

<% listproductCode.forEach(product => { %>
<li class="product-item col-2">
  <a class="product-link" href="">
    <img src="<%= product.thumbnail %>" alt="" />
    <div class="product-content">
      <p class="product-name"><%= product.name %></p>
      <p class="product-price">
        <span><%= product.price.toLocaleString() %></span>
        <span>₫</span>
      </p>
    </div>
  </a>
</li>
<%}) %>
