<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông tin cá nhân</title>
    <link
      rel="shortcut icon"
      href="/public/icon/lazada-logo.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/profile.css" />
  </head>
  <body>
    <%- include('../../components/header') %>
    <main class="main">
      <div class="content">
        <%- include('./general') %>
        <div class="content-info">
          <h3>Đổi mật khẩu</h3>
          <div class="content-info-container">
            <div class="content-info-group">
              <label>Mật khẩu hiện tại</label>
              <input
                type="password"
                name=""
                id="currentPassword"
                placeholder="Vui lòng nhập mật khâu hiện tại của bạn"
              />
              <span></span>
            </div>
            <div class="content-info-group">
              <label>Mật khẩu mới</label>
              <input
                type="password"
                name=""
                id="newPassword"
                placeholder="Tối thiểu 6 kí tự bao gồm cả chữ và số"
              />
              <span></span>
            </div>
            <div class="content-info-group">
              <label>Nhập lại mật khẩu</label>
              <input
                type="password"
                name=""
                id="confirmPassword"
                placeholder="Nhập lại mật khẩu"
              />
              <span></span>
            </div>
            <button onclick="saveChange()" class="btn-change">
              Lưu thay đổi
            </button>
          </div>
        </div>
      </div>
    </main>
    <%- include('../../components/footer') %>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/js/index.js"></script>
  <script src="/public/js/profile.js"></script>
</html>
