<ul class="content-list">
  <p>Xin chào, <%= user.username %></p>
  <li class="content-item">
    <a href="/profile/info" class="content-item-title" id="info"
      >Thông tin cá nhân</a
    >
  </li>
  <li class="content-item">
    <a href="/profile/order" class="content-item-title" id="order"
      >Đơn hàng của tôi</a
    >
  </li>
  <li class="content-item">
    <a href="/profile/favorite" class="content-item-title" id="favorite"
      >Sản phẩm yêu thích</a
    >
  </li>
</ul>
