<ul class="content-list">
  <p>Xin chào, <%= user.username %></p>
  <li class="content-item">
    <a href="/profile/info" class="content-item-title active-1"
      >Thông tin cá nhân</a
    >
  </li>
  <li class="content-item">
    <a href="/profile/order" class="content-item-title active-2"
      >Đơn hàng của tôi</a
    >
  </li>
  <li class="content-item">
    <a href="" class="content-item-title active-3">Sản phẩm yêu thích</a>
  </li>
</ul>
